.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: 0;
  width: 22px;
  height: 19px;
}
