.profile__avatar {
  margin-right: 30px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin-right: 0;
  }
}
