.profile__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: 336px;
}

@media screen and (max-width: 424px) {
  .profile__info {
    padding-top: 28px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
